.sidenav__menu__item {
    text-align: center;
    list-style-type: none;
    font-weight: 300;
    font-size: 18px;
    padding: 0 25px 25px;
}

.sidenav__menu__item.sidenav__menu__item--active {
    color: #2EC4B6;
}