.sidenav {
  padding-top: 70px;
  width: 300px;
  height: 100vh;
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: .2s;
  will-change: transform;
  z-index: 2;
}

.sidenav .profile {
  margin-bottom: 40px;
}

.sidenav--visible {
  transform: translateX(0); 
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
}

.sidenav--visible .sidenav__toggler {
  right: 10px;
  left: unset;
}

.sidenav__toggler {
  transition-duration: .2s;
  position: absolute;
  left: -40px;
  top: 20px;
}

.sidenav__toggler button { 
  background: none;
  border: none;
  cursor: pointer;
}

.sidenav__toggler svg {
  width: 20px;
}

.sidenav__menu__item--active {
  color: red;
}

.sidenav__links {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}