.sidenav {
  width: 300px;
  height: 100vh;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: .2s;
  will-change: transform;
  z-index: 2;
}

.sidenav--visible {
  transform: translateX(0); 
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
}

.sidenav--visible .sidenav__toggler {
  right: 10px;
}

.sidenav__toggler {
  transition-duration: .2s;
  position: absolute;
  right: -40px;
  top: 20px;
}

.sidenav__toggler button { 
  background: none;
  border: none;
  cursor: pointer;
}

.sidenav__toggler svg {
  width: 20px;
}

.sidenav__menu__item--active {
  color: red;
}