.header {
  height: 60px;
  width: 100vw;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.header__page-title {
  text-transform: uppercase;
  color: #003049;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
}